@{
	ViewData["Title"] = "Sign Up";
	@model Hotel.Models.User;
}


<head>
	<link rel="stylesheet" href="~/css/Signup.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body class="img js-fullheight" style="background-image: url(@Url.Content( "~/img/log.jpg"));">
	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Create an account</h3>



						@if (TempData["ErrorMessage"] != null)
						{
							<div class="alert alert-danger alert-dismissible mt-4" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								@TempData["ErrorMessage"]
							</div>
						}
						@if (!ViewData.ModelState.IsValid)
						{
							<div class="alert alert-danger mt-4" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<ul>
									@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
									{
										<li>@error.ErrorMessage</li>
									}
								</ul>
							</div>
						}



						<!--Sign uP Form-->
						<form action="@Url.Action("Signup", "Register")" method="post" class="signin-form">
							@Html.AntiForgeryToken()
							<div class="form-group">							 
								@Html.TextBoxFor(model => model.FullName, new { @class = "form-control", placeholder = "Full name", required = "required" })
								@Html.ValidationMessageFor(model => model.FullName)
							</div>
							<div class="form-group">					 
								@Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", required = "required" })
								@Html.ValidationMessageFor(model => model.Email)
							</div>
							<div class="form-group">
								@Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "password", required = "required" })
								@Html.ValidationMessageFor(model => model.Password)
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<input id="password-field2" type="password" class="form-control" placeholder="Confirm Password" required>

							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
							</div>

						</form>
						<p class="w-100 text-center">&mdash; Or Sign Up With &mdash;</p>
						<div class="social d-flex text-center">
							<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
							<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Google</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/popper.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/main.js"></script>
	<script>
		$(function () {
			$(".alert").alert(); // Enable Bootstrap's alert dismissal
		});
	</script>
</body>