
@model Hotel.Models.Category


@*@{
    ViewData["Title"] = "Home Page";
    var mostpicks = ViewData["mostpicks"] as List<Property>;
    var first_mostpicks = ViewData["first_mostpicks"] as Property;
    var backyards = ViewData["backyards"] as List<Property>;
    var largeLivingRooms = ViewData["livingrooms"] as List<Property>;
    var kitchenSets = ViewData["kitchensets"] as List<Property>;
}*@




<!-- ======= About Section ======= -->


<section id="about" class="about" style="margin-top:20vh">
    <div class="container">
        

        <div class="row">
         
          <div class="col-xl-6 col-lg-4 pt-5 pt-lg-0" style=" padding-right:4vw">
            <h3 data-aos="fade-right" style="color:darkblue;font-weight:400">Forget Busy Work, Start Next Vacation</h3>
            <p data-aos="fade-up">
              We provide what you need to enjoy your holiday with Family.<br />Time to make another memorable moment.
            </p>
                <p>
                    <button class="btn btn-primary" style="margin-bottom:7vh;color:white;">Show me Now</button>
                 </p>
            <div class="icon-box" >
                    <!--<i class="bx bx-receipt"></i>-->
           
              


                 <div style="display:flex;justify-content:space-between;">

                    <div >
                        <span >
                           <img src="~/img/new/travel.png" class="img-fluid" alt="travel"><br />
                                <small><b>80,409</b> travellers</small>
                        </span>
                            
                    </div>

                    <div>
                        <span style="margin-right:3vw">
                            <img src="~/img/new/camera.png" class="img-fluid" alt="treasures"><br />
                                <small><b>862</b> treasures</small>
                        </span>
                    </div>

                     <div>
                         <span style="margin-right:4vw">
                            <img src="~/img/new/location.png" class="img-fluid" alt="location"><br/>
                                <small><b>1,482</b>cities</small>
                         </span>
                     </div>

                   
                        
              </div>
            </div>

            

          </div>

           <div class="col-xl-6 col-lg-6" data-aos="fade-right"style="padding-left:4vw">
                <img src="~/img/new/banner.png" class="img-fluid" alt="" width="400vw" height="400vh" style=" border-radius: 100px 15px 15px 15px;">
           </div>

        </div>

      </div>
    </section><!-- End About Section -->


         <!-----------Please Note that the fields in the Category model receives information from the SQL database---------!>

    <!-- ======= Most picks ======= -->
    <section id="steps" class="steps section-bg">
      <div class="container">
          <div class="row">
            <div class="col">
                <h4>@Model.MostPicks[0].Group</h4>
              </div>
          </div>
        
        <div style="display:flex;flex-direction:row;justify-content:space-around">

            <div style="position:relative;" data-aos="fade-in" >
                <img src="@Model.MostPicks[0].Image" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                <span style="position:absolute; bottom:10px; left:10px; background-color:white; padding:5px 10px; border-radius:10px; color:black; font-weight:bold;">@Model.MostPicks[0].NameOfProp,@Model.MostPicks[0].Location,Indonesia</span>
                <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">$@Model.MostPicks[0].Price per night</span>
            </div> 
            
            
            <div class="col-8 row no-gutters">

            @if(Model.MostPicks != null)
            {
                @foreach(var property in Model.MostPicks)
                {
                    
         
                        @if(property == Model.MostPicks[0])
                        {
                            continue;
                        }
                        else
                        {
                        
                             <div class="col-lg-6 col-md-6" data-aos="fade-in">
                                <div style="position:relative;">
                                    <img src="@property.Image" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                                    <span style="position:absolute; bottom:10px; left:10px; background-color:white; padding:5px 10px; border-radius:10px; color:black; font-weight:bold;">@property.NameOfProp,@property.Location, Indonesia</span>
                                    <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">$@property.Price per night</span>
                                </div>
                            </div>
             
                        }
                  
                }
               
            } 
            </div>          

       </div>

      </div>
    </section><!-- End Most Picks -->


   
    <!-- ======= Houses with beauty Backyards ======= -->
   <section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>@Model.Backyards[0].Group</h4>
            </div>
        </div>

        
        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

          <div class=" row no-gutters">

                @foreach(var item in Model.Backyards)
                {
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                        <div style="position:relative;">
                            <img src= "@item.Image" class="img-fluid" alt="" style="border-radius:20px;height:30vh;width:250vw" data-aos="fade-in">

                            @if (item.Popularity == "Popular choice")
                            {
                                <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">@item.Popularity</span>
                            }
                        </div>
                        <h6>@item.NameOfProp</h6>
                        <p>@item.Location, Indonesia</p>
                    </div>
                }        

           </div>

        </div>

    </div>
</section><!-- End Houses with beauty Backyards -->


<!-- ======= Hotels with large living rooms ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>@Model.LivingRooms[0].Group</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">
                
                @foreach(var item in Model.LivingRooms)
                {
                    <div class="col-lg-3 col-md-6 position-relative" data-aos="fade-right" data-aos-delay="100">
                        <img src="@item.Image" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">

                        @if (item.Popularity == "Popular choice")
                        {
                          <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">@item.Popularity</span>
                           
                        }

                        <h6>@item.NameOfProp</h6>
                        <p>@item.Location, Indonesia</p>
                    </div>
                
                }
                          
            </div>

        </div>

    </div>
</section><!-- Hotels with large living rooms -->



<!-- =======  Apartments with Kitchen set ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>@Model.KitchenSets[0].Group</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">

                @foreach(var item in Model.KitchenSets)
                {
                    <div class="col-lg-3 col-md-6 position-relative" data-aos="fade-right" data-aos-delay="100">
                        <img src="@item.Image" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">

                        @if(item.Popularity == "Popular choice")
                        {
                            <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">@item.Popularity</span>
                        }
                        <h6>@item.NameOfProp</h6>
                        <p>@item.Location, Indonesia</p>
                    </div>
                }

            </div>        

        </div>

    </div>
</section><!-- Apartments with Kitchen set -->




<section id="about" class="about" style="margin-top:20vh">
    <div class="container">


        <div class="row">


            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="~/img/new/lastfoto.png" class="img-fluid" alt="" width="400vw" height="400vh" style=" border-radius: 100px 15px 15px 15px;">
            </div>


            <div class="col-xl-6 col-lg-2 pt-5 pt-lg-0"  >

                <h5 data-aos="fade-up" style="color:darkblue;">Happy Family</h5>
                <img src="~/img/new/stars.png" class="img-fluid" alt="" width="inherit" height="inherit" data-aos="fade-in">

                <h3 data-aos="fade-up" style="color:darkblue;font-weight:400">What a great trip with my family. Would love to do this over again!</h3>
                <p>Anggar, Product Manager</p>
                <p>
                    <button class="btn btn-primary" style="margin-bottom:7vh;color:white;">Read their story</button>
                </p>
                 
            </div>

           

        </div>

    </div>
</section><!-- End About Section -->







    

     

